* {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh; }

.sidebar-layout {
  width: 200px;
  height: 100%;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #393f4f; }
  .sidebar-layout img {
    margin: 15px; }

.nav-layout {
  z-index: 1;
  width: calc(100% - 200px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0; }

.body-layout {
  height: 100vh;
  margin-left: 200px;
  margin-top: 90px;
  background: #f8f9fa;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.row {
  margin: 0;
  padding: 2px; }

.block {
  position: relative;
  padding: 10px;
  border: 2px solid #f8f9fa;
  margin: 20px;
  margin-top: 5px;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.2); }

.main1 {
  height: 20%; }
  .main1 .block {
    max-height: 120px; }
  .main1 img {
    float: left;
    margin-left: 22px;
    margin-top: 22px; }

.main2 {
  height: 80%;
  margin-top: 10px; }

.text {
  width: 65%;
  float: right;
  height: 100px; }

.sum {
  float: left;
  margin: 0;
  margin-top: 15px;
  display: inline-block;
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 40px;
  color: #5a6378; }

.total {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #5a6378;
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  float: left; }

.t {
  margin-top: 20px; }

.next {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 12px;
  color: #d4d9e5;
  display: inline-block;
  float: left;
  margin-right: 25px; }

.dws-progress-bar {
  float: left;
  width: 30%; }

.progress-percentage {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: #5a6378;
  position: absolute;
  left: 12%;
  margin-top: 10%; }

.svetloe {
  padding: 0; }

.temnoe {
  padding: 0; }
  .temnoe .block {
    background: #393f4f; }

a img {
  height: 15px;
  width: 15px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle; }

a p {
  padding-top: 10px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #5a6378; }

a:hover {
  color: #2b303e; }
  a:hover .row {
    background: #2b303e;
    border-left: 3px solid #62baf0; }
  a:hover p {
    color: white; }

.active {
  color: #2b303e; }
  .active .row {
    background: #2b303e;
    border-left: 3px solid #62baf0; }
  .active p {
    color: white; }

.prbar p {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: white;
  text-align: center;
  width: 100%;
  margin: 5px; }

.prbar .blue {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #59a9c7;
  text-align: center;
  width: 100%; }

.prbar .progress {
  width: 100%;
  margin: 7px;
  border-radius: 25px;
  height: 10px; }

.prbar .progress-bar {
  border-radius: 25px; }

.prbar #p1 {
  background: #59a9c7; }

.prbar #p2 {
  background: #b6c647; }

.prbar #p3 {
  background: #fcb44c; }

.prbar #p4 {
  background: #f78ffe; }

.prbar #p5 {
  background: #f86a6a; }

.prbar .left {
  float: left; }

.prbar .right {
  margin-right: 5px;
  margin-left: auto; }
  .prbar .right p {
    color: #5a6378; }

.header {
  background: #4e5c7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px; }
  .header p {
    height: 50%;
    font-weight: bold;
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: white;
    margin-left: 25px;
    margin-bottom: 0; }
  .header img {
    margin-left: 10px; }

.header2 {
  background: #2b303e;
  height: 40px; }
  .header2 p {
    font-weight: bold;
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: white; }

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0; }
  .header_right img {
    height: 70%; }
  .header_right .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70%;
    margin: 5px;
    border-radius: 25px; }
  .header_right .dropdown p {
    margin-left: 0; }
  .header_right .dropdown button {
    background: #4e5c7e;
    border: 2px solid #4e5c7e; }

.form-control {
  background: #393f4f;
  height: 65%;
  border: 2px solid #393f4f;
  border-radius: 25px;
  padding-left: 2.375rem; }

form {
  margin-left: 15px; }

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

.fa-caret-right {
  color: white; }

.fa-caret-left {
  color: white; }

.calendar {
  font-family: "Source Sans Pro";
  font-weight: 600; }
  .calendar p {
    display: inline-block;
    font-weight: 300;
    font-family: "Source Sans Pro";
    font-size: 15px;
    color: white; }
  .calendar a {
    float: right;
    color: #59a9c7; }

.calendar_weekdays {
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 17px;
  color: white; }

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top; }

.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  height: 45.7px;
  line-height: 45.7px;
  overflow: hidden;
  text-align: center; }

.calendar_content div {
  color: white;
  float: left;
  border: 1px solid transparent; }

.calendar_content div:hover {
  border-radius: 100px;
  background: #59a9c7;
  border: 1px solid #59a9c7; }

.calendar_content div.today {
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 100px;
  background: #59a9c7;
  border: 1px solid #59a9c7; }

.calendar_content div.selected {
  border-radius: 100px;
  background: #59a9c7;
  border: 1px solid #59a9c7; }

.calendar_header {
  width: 100%;
  text-align: center; }

.calendar_header h2 {
  float: left;
  width: 70%;
  margin-top: 10px;
  padding: 0 10px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: white; }

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  line-height: 52px;
  height: 55px;
  float: left;
  width: 15%;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
